<a href="https://colab.research.google.com/github/Cours-EDUlib/FAS-ISDS/blob/main/module-4/4_1_statistiques_descriptives.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
install.packages("questionr", dep = TRUE)
install.packages("car", dep = TRUE)
install.packages("psych", dep = TRUE)
library(devtools)
install_version("mnormt", version = "1.5-5", repos = "http://cran.us.r-project.org")
require(car)
require(questionr)
require(psych)
data(hdv2003)
bd <- hdv2003



---

# Statistiques descriptives univariées

### Fonction générique summary() 
*   Fournit les principales mesures de tendance centrale et de dispersion d’une distribution avec quartiles 
*   C’est une fonction dont le comportement s’adapte au type d’objet
*   Élimine d'emblée valeurs manquantes

In [ ]:
summary(bd)

In [ ]:
summary(bd$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  18.00   35.00   48.00   48.16   60.00   97.00

In [ ]:
summary(bd$occup)

Exerce une profession               Chomeur       Etudiant, eleve
                 1049                   134                    94
             Retraite   Retire des affaires              Au foyer
                  392                    77                   171
        Autre inactif
                   83

In [ ]:
str(bd)

### Autres fonctions utiles

In [ ]:
# Fonctions diverses permettant d'explorer les indicateurs de centralité et de dispersion pour variable quantitative
# Toujours ajouter na.rm=T en argument

median(bd$heures.tv, na.rm=TRUE)
mean(bd$heures.tv, na.rm=TRUE)
max(bd$heures.tv, na.rm=TRUE)
min(bd$heures.tv, na.rm=TRUE)
sum(bd$heures.tv, na.rm=TRUE)
range(bd$heures.tv, na.rm=TRUE)
var(bd$heures.tv, na.rm=TRUE)
sd(bd$heures.tv, na.rm=TRUE)quantile(bd$heures.tv, na.rm=TRUE)

[1] 2

In [ ]:
# Fonctions de normalité

skew(bd$heures.tv, na.rm=TRUE) # package psych
kurtosi(bd$heures.tv, na.rm=TRUE) # package psych
qqPlot(bd$heures.tv) # package car

In [ ]:
# Fonctions de transformation -> normalité & rang

log(bd$age)     # Logarithme (, base=10)
sqrt(bd$age)    # Racine carrée
scale(bd$age, center = TRUE, scale = TRUE)    # Centrage et réduction avec la fonction scale (Zscore)

In [ ]:
## La très utile fonction apply

### Pour appliquer une fonction sur plusieurs variables à la fois
apply(bd[,c("age", "heures.tv","freres.soeurs")], MARGIN=2, FUN=scale)

# c() indique les variables à utiliser
# MARGIN=2: calcul à travers les participants (colonnes), =1 est à travers les rangées
# FUN=scale: la fonction à appliquer, pourrait être n'importe laquelle comme moyenne, somme, variance...

## Table de fréquences

### Fonction table() - Tableaux d'effectifs

In [ ]:
tb1<-table(bd$freres.soeurs)    # var numérique

In [ ]:
tb2<-table(bd$qualif)            # var quali (résultat pareil à summary())

# Exclu NA par défaut, sinon il faut utiliser l’argument useNA ="always" ou "ifany"

### Autres fonctions utiles

In [ ]:
prop.table(tb2)

In [ ]:
# Afficher en % et arrondir

round((prop.table(tb2))*100)

In [ ]:
# Fonction freq (package questionr)

freq(bd$occup) # affiche les NA par défaut

### Nombreux arguments utiles possibles

freq(bd$occup, cum = FALSE, total = TRUE, sort = "inc", digits = 0, exclude = NA)

  # cum: afficher ou non les % cumulés
  # total: ajouter les effectifs totaux
  # sort: trier le tableau par fréquence croissante (sort="inc") ou décroissante (sort="dec")
  # digits: arrondir
  # exclude: exclure valeurs manquantes



---

# Statistiques descriptives bivariées

## Tableaux croisées

### Fonction table() et cie.
*   1er argument var horizontale (dép.), 2e var verticale (ind.)

In [ ]:
tb <-table(bd$qualif, bd$sexe) # pour une table à plus de deux niveaux, simplement ajouter une variable additionnelle

In [ ]:
# Ajouter les totaux des effectifs

addmargins(tb)

In [ ]:
# % Totaux 

prop(tb)    
prop_table(tb)

In [ ]:
# % Totaux, Arguments 1 pour % en rangées, 2 pour % en colonnes

prop.table(tb)

In [ ]:
# % en ligne

rprop(tb)

In [ ]:
# lprop et cprop de questionr pour %

cprop(tb, percent = T)    # % en colonnes. Argument percent pour afficher les %

In [ ]:
lprop(tb, percent = T)    # % en lignes

### Comparer des groupes : by() et tapply() 

Les très pratiques fonctions by() et tapply() (variante de la fonction apply)permettent d'appliquer une fonction sur une variable quantitative (1er) selon les modalités d'une variable catégorielle (2iem)

In [ ]:
by(bd$age, bd$sexe, mean)

bd$sexe: Homme
[1] 48.16129
------------------------------------------------------------
bd$sexe: Femme
[1] 48.1535

In [ ]:
tapply(bd$age, bd$sexe, mean)

In [ ]:
tapply(bd$relig, bd$sexe, table)

In [ ]:
tapply(bd$relig, bd$sexe, freq)