<a href="https://colab.research.google.com/github/Cours-EDUlib/FAS-ISDS/blob/main/module-3/3-4_les_objets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Atelier "Premiers pas avec R", partie 1

### Script: Objets et grammaire de base

### Par: Caroline Patenaude

#### Courriel: caroline.patenaude@umontreal.ca

##R comme une grosse calculatrice

In [ ]:
2+2
-10/3  *  5 # Les espaces n'ont pas d'impact

##Les objets

In [ ]:
## Calculer une moyenne
(12+15+20)/3

In [ ]:
## Créer un objet dans lequel je stoque le résultat du calcul
aa <- (12+15+20)/3

In [ ]:
## Pour voir le contenu de son objet, tapper son nom

aa  # Utilisation implicite de la fonction print(aa)

In [ ]:
## Pour mettre dans un objet ET visualiser tout de suite, mettre entre parenthèses
(aa<-(12+15+20)/3)

##Les types de données

In [ ]:
aa <- 123      # Numérique
bb <- "soleil" # Chaîne de caractères
cc <- TRUE     # Logique (T/F)
dd <- NA       # Logique
ee <- "123"    # ???

[1] "numeric"

In [ ]:
# Pour voir le type de données, utiliser la fonction mode()

mode(aa)

##Les types d'objets

### Vecteurs

Définition: Objet contenant des valeurs (éléments/composantes) d'un seul mode (numérique, texte, logique). En pratique, c'est une variable.

In [ ]:
# On créer des vecteurs principalement avec la commande c()

bb <- c(5, 23, 89, NA)  # vecteur de plusieurs éléments numériques et une valeur manquante
cc <- c("bleu", "blanc", "rouge")  # vecteur textuel
dd <- c(TRUE, FALSE, FALSE, TRUE)  # vecteur booléen
ee <- c(aa, bb)  # combiner/concaténer des vecteurs
ff <- c(cc, dd, ee)  # Oups! Principe de COERCITION s'applique (changement implicite du mode)

In [ ]:
### Le principe de coercition

gg <- c(2, 4, 6, "w")  # transforme tous les éléments en format textuel

In [ ]:
# La fonction length() rapporte le nombre d'éléments dans un objet

length(ff)

In [ ]:
### - On peut faire des calculs entre vecteurs - exemple, calcul de l'IMC: poids divisé par taille au carré 
taille <- c(1.45, 1.60, 1.70) ^ 2 
poids <- c(70, 65, 60)
IMC <- poids / taille 
IMC

[1] 33.29370 25.39062 20.76125

### Facteurs

* Définition: vecteur avec des attributs spécifiques, ie dont la structure correspond aux variables qualitatives et dont les valeurs peuvent être de type numérique ou caractère
* Les modalités de la variable sont fixes et ordonnées alphabétiquement (mais stoquées en format integer)
* Impossible d’assigner une valeur qui n’a pas été préalablement définie comme une des modalités
* L'argument optionnel levels() permet d'ajouter et modifier les catégories prédéfinies 
* L'argument labels(), est aussi optionnel, permet de définir les libellés associés aux niveaux. Faut respecter leur ordre

In [ ]:
# On créé une variable de type facteur avec la fonction factor()) 
sexe <- factor(c("H", "H", "F", "H")) # 4 valeurs de 2 niveaux

In [ ]:
# Par défaut, les valeurs fournies lors de la création du facteur sont utilisées pour fixer les modalités (niveaux) de la variable en ordre alphabétique
levels(sexe)

In [ ]:
# L'objet est un facteur avec 2 niveaux dont les modalités sont stoquées sous forme textuelle, mais les valeurs individuelles sont stoquées comme integer.
str(sexe) 
typeof(sexe)

In [ ]:
### On peut ajouter une valeur additionnelle par indexation ([5] nous y reviendrons...)
sexe[5]<-"F"

In [ ]:
### Mais on ne peut d'emblée ajouter une valeur d'un autre niveau que les 2 prévus au départ
sexe[6]<-"A"

In [ ]:
### Pour ce faire, il faut d'abord modifier les niveaux permis
levels(sexe) <- c("F", "H", "A") 
sexe

In [ ]:
### Là ça marche!
sexe[6]<-"A"

### Les data frames

Définition: Tableau de données pouvant regrouper des vecteurs de différents types (numériques et textuels)

Crée un jeu de données avec la fonction data.frame()
On le crée rarement manuellement, généralement importé en format .txt, .csv, .spss ...

Attention: par défaut, si on ne désactive pas l’option stringsAsFactors à la création d'un dataframe, les vecteurs textuels sont de type facteur

On peut vérifier le mode d'un objet avec les commandes: is.character, is.list, is.logical, is.numeric, is.null, is.factor

On peut convertir le mode d'un objet avec les commandes: as.character, as.list, as.logical, as.numeric, as.factor

In [ ]:
# Créer un data frame avec 4 variables (3 vecteurs numériques et 1 vecteur textuel) avec la fonction data.frame()
age <- c(45,65,22,38,54,31,29,44,56,67) 
poids <- c(150,125,210,175,110,180,130,155,190,120)
taille <- c(4.9,6.0,5.5,5.9,5.2,6.1,5.7,5.0,5.3,6.2)
sexe <- c("H","F","F","H","H","F","F","H","F","H")
bd <- data.frame(age, taille, poids, sexe)

In [ ]:
# On peut nommer les observations avec la fonction rownames()
noms <- c("cas1","cas2","cas3","cas4","cas5","cas6","cas7","cas8","cas9","cas10")
row.names(bd) <- noms

## Les fonctions

In [ ]:
## Créer un objet nommé "age" composé d’une série de 3 nombres avec la fonction c()
age <- c(12, 15, 20) 

## Passer cet objet comme 1er argument de la fonction mean()
mean(age)

## Arrondir le résultat à une décimale en imbriquant la fonction mean() dans la fonction round()
round(mean(age), digits=1)

[1] 15.66667

[1] 15.7

## Les arguments

In [ ]:
age<-c(12, 15, 20, NA)  # Je créé un vecteur composé de 3 chiffres et une valeur manquante

mean(age)    # OUPS!

[1] NA

In [ ]:
help(mean)  # Pour afficher l'aide d'une fonction (ou la fonction args(mean))

mean(age, na.rm=TRUE, trim=0.05)

# L'argument na.rm=TRUE indique de ne pas prendre en compte les valeurs manquantes
# L'argument trim=.05 indique d'exclure les 5% les plus extrêmes

[1] 15.66667

#Exercices

Créer trois vecteurs représentant l'age, le poids et le sexe de 10 personnes

    45,65,22,38,54,31,29,44,56,67
    210,125,150,175,145,180,130,175,160,130
    "H","F","F","H","H","F","F","H","F","H"

1. Quel est l'âge médian?
2. Sélectionner seulement les femmes (vecteur sexe)
3. Appliquer cette condition sur le vecteur poids pour sélectionner le poids des femmes seulement
4. Quelle est la moyenne de poids des femmes?
5. Quelle est la différence de moyenne de poids entre les hommes et les femmes?
6. Sélectionner l'âge des 5 premiers répondants
7. Sélectionner les répondants âgés de 40 ans ou moins
8. Ajouter un 11iem répondant Homme de 160 livres âgé de 30 ans
9. Changer l'âge du deuxième répondant pour 35 ans
10. Calculer un nouveau vecteur contenant l'année de naissance (selon l'âge en 2020) 
11. Créer un dataframe nommé table (fonction data.frame()) composé des 4 vecteurs

In [ ]:
#Première cellule de code pour compléter les exercices (vous pouvez en ajouter)

##Solutionnaire

In [ ]:
## créer trois vecteurs représentant l'age, le poids et le sexe de 10 personnes

age <- c(45,65,22,38,54,31,29,44,56,67)
poids <- c(210,125,150,175,145,180,130,175,160,130)
sexe <- c("H","F","F","H","H","F","F","H","F","H")


## Quel est l'âge médian?
median(age)


## Sélectionner seulement les femmes (vecteur sexe)
sexe[sexe=="F"]


## Appliquer cette condition sur le vecteur poids pour sélectionner le poids des femmes seulement
poids[sexe=="F"]


### Quelle est la moyenne de poids des femmes?
mean(poids[sexe=="F"]) 


### Quelle est la différence de moyenne de poids entre les hommes et les femmes?
mean(poids[sexe=="H"]) - mean(poids[sexe=="F"]) 


## Sélectionner l'âge des 5 premiers répondants
age[1:5]


## Sélectionner les répondants âgés de 40 ans ou moins
age[age<=40]


## Changer l'âge du deuxième répondant pour 35 ans
age[2] <- 35


## Ajouter un 11iem répondant Homme de 160 livres âgé de 30 ans
sexe[11] <- "H"
poids[11] <- 160
age[11] <- 30


## Calculer un nouveau vecteur contenant l'année de naissance (selon l'âge en 2020) 
annee <-2020 - age


## Créer un dataframe nommé table avec les 4 vecteurs 
table <- data.frame(age, sexe, poids, annee)