<a href="https://colab.research.google.com/github/Cours-EDUlib/FAS-ISDS/blob/main/module-3/3-6_selection_indexation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indexation - ou la sélection d'éléments


*   Fonctionnalité permettant d’utiliser des opérateurs afin de sélectionner des variables/observations en fonction de différents critères.
*   Tous reposent sur le même principe: on utilise des **opérateurs** - soit des crochets (** [ ]**, **[[ ]]**) ou le signe **$** (si l’élément est nommé) pour identifier les valeurs spécifiques que l’on souhaite sélectionner ou pas.

## Trois types d’indexation :
1.   Par position (directe) 
2.   Par nom 
3.   Par conditions logiques

### 1. Par position (directe): Indique le rang du ou des éléments à sélectionner

  1.1.   Pour sélectionner une ou plusieurs variables

*   objet[rangée, **colonne**]

In [ ]:
bd[ ,2]       # Sélectionner la deuxième variable

In [ ]:
bd[ ,3:6]	    # Sélectionner les variables 3 à 6

In [ ]:
bd[ , c(3,6)]	# Sélectionner les variables 3 et 6

In [ ]:
bd[ ,-2]    	# Sélectionner toutes les variables sauf la deuxième

In [ ]:
bd[ ,-(3:6)]	# Toutes les variables sauf 3 à 6

In [ ]:
bd[ ,-c(3,6)]	# Toutes les variables sauf 3 et 6

1.2. Pour sélectionner une ou plusieurs observations (même principe, mais de l'autre côté de la virgule)
*   objet[**rangée**, colonne]

In [ ]:
bd[2,]       # Sélectionner la deuxième observation

1.3. Pour sélectionner des variables ET des observations

In [ ]:
bd[1:100, c(1:5,10)]

*Pour créer une nouvelle base contenant une sélection de variables/observations, simplement placer la sélection dans un nouvel objet: bd2 <- *



---

### 2. Par nom: Indique le nom du ou des éléments à sélectionner

#### Opérateur [ ]

In [ ]:
bd["relig"] # Sélectionner une variable

In [ ]:
bd[ ,c("occup", "relig")] # Sélectionner deux variables

On peut aussi mélanger les deux types d'indexation

In [ ]:
bd2 <- bd[1:100, c("id", "age", "sexe", "nivetud", "poids", "relig")] # Créer une nouvelle base composée des 100 premières observations et de 6 variables

#### Opérateur $
Symbole "raccourci" pour rapidement sélectionner un seul élément nommé

In [ ]:
bd$sexe



---

### Par condition (opération logique)

Sélection d'éléments qui remplissent une ou plusieurs conditions en utilisant les opérateurs ==, !=, <, >, <=, >=

*   Sélectionner selon une valeur de variable - la valeur "Femme" de la variable "sexe" :



1.   Créer d'abord une condition qui teste si le sexe est femme qui retourne une liste logique

In [ ]:
bd$sexe=="Femme"

ou procéder par la négative avec le sauf "!="

In [ ]:
bd$sexe != "Homme"


2.   Appliquer cette condition de sélection à la bd originale pour créer une nouvelle base composée du sous-ensemble

In [ ]:
bdf <- bd[bd$sexe=="Femme",]

In [ ]:
bd[bd$occup == "Retraite" | bd$occup == "Au foyer",] # deux conditions sur une même variable avec l'opérateur | (ou)

*  Sélectionner selon les valeurs de plus d'une variable - les répondants de 40 à 60 ans qui aiment la lecture ou le cinema

In [ ]:
bd[bd$age >= 40 & bd$age <= 60 & (bd$lecture.bd == "Oui" | bd$cinema == "Oui"), ]

In [ ]:
bd4 <-bd[bd$qualif=="Cadre" & bd$age<50, c("id","nivetud", "occup")]

In [ ]:
# Pour conserver toutes les variables, ne rien indiquer après la virgule
# Attention! Avec l'indexation directe, il faut s'assurer  qu'il n'y a pas de NA. 
# La présence de NA dans une condition fait que la ligne correspondante sera conservée par l’indexation. Faut utiliser !is.na()

bd4 <-bd[bd$qualif=="Cadre" & bd$age<50 & !is.na(bd$qualif) & !is.na(bd$age), ]


### C'est pour cela qu'il vaut mieux utiliser la fonction subset()


### 2 autres fonctions pour créer des sous-groupes

###	1. La fonction subset()
bd5 <- subset(bd, qualif=="Cadre" & age<50,)

### Si on veut sélectionner quelques variables seulement, ajouter select=
bd6 <-subset(bd, qualif=="Cadre" & age<50, select= c(age, sexe))