<a href="https://colab.research.google.com/github/Cours-EDUlib/FAS-ISDS/blob/main/module-3/3-7_manipuler_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
install.packages("questionr", dep = TRUE)
require(questionr)
data(hdv2003)
bd <- hdv2003

## Renommer une variable

### Renommer une ou plusieurs variables:

In [ ]:
# Avec la fonction names et l'indexation par position

names(bd)[c(2,3,4)] <- "AGE", "SEXE", "NIVETUD"

### Renommer une seule variable

In [ ]:
# Avec la fonction "rename.variable" du package "questionr"

rename.variable(bd, "clso", "classe")

### Renommer des modalités de variables catégorielles

In [ ]:
# Avec l'indexation par condition

bd$cinema2[bd$cinema == "Non"] <- "N"
bd$cinema2[bd$cinema == "Oui"] <- "O"

Warning message in `[<-.factor`(`*tmp*`, bd$cinema == "Non", value = "N"):
“invalid factor level, NA generated”
Warning message in `[<-.factor`(`*tmp*`, bd$cinema == "Oui", value = "O"):
“invalid factor level, NA generated”

## Agréger/recoder des modalités de variables catégorielles

In [ ]:
# Avec l'indexation par condition

bd$relig2[bd$relig == "Pratiquant regulier"] <- "Pratiquant"
bd$relig2[bd$relig == "Pratiquant occasionnel"] <- "Pratiquant"
bd$relig2[bd$relig == "Appartenance sans pratique"] <- "Croyant"
bd$relig2[bd$relig == "Ni croyance ni appartenance"] <- "Athée"
bd$relig2[bd$relig == "Rejet"] <- "ND"
bd$relig2[bd$relig == "NSP ou NVPR"] <- "ND"

In [ ]:
# Avec la fonction ifelse()

## Permet de créer une variable dichotomique sur la base des valeurs d'une ou plusieurs variables 

## Une variable
bd$occup2 <- ifelse(bd$occup=="Exerce une profession", "Actif", "Inactif")  # Créer une variable identifiant les actifs
  # Test de condition
  # valeur à renvoyer si le test est vrai
  # valeur à renvoyer si le test est faux

## Deux variables
bd$fr <- ifelse(bd$sexe == "Femme" & bd$occup == "Retraite", "Femme retraite", "Autre") # Créer une variable identifiant les femmes retraités

### Recoder des variables numériques en catégorielles

In [ ]:
# Avec la fonction cut()

bd$age.cat <- cut(bd$age, breaks=c(0, 20, 40, 60, 80, 100), include.lowest = TRUE, labels=c("20 ans et moins", "21 à 40", "41 à 60", "61 à 80", "81 et plus"))

  # breaks=: limites dans catégories
  # include.lowest: valeur minimale est incluse dans la première classe - (40,60] signifie que 40 est exclu et 60 est inclu
  # labels: intitulés

### Modifier les modalités d'un facteur

In [ ]:
levels(bd$qualif)

In [ ]:
bd$qualif <- factor(bd$qualif, levels = c("Employe", "Ouvrier specialise", "Ouvrier qualifie", "Technicien", "Profession intermediaire", "Cadre", "Autre"),labels = c("Empl","OS", "OQ",  "Tech", "Interm", "Cadre", "Autre"))

In [ ]:
# Transformer la variable "nivetud" en format texte et renommer les modalités
bd$cin <- as.character(bd$cinema)
bd$cin[bd$cinema=="Non"]<- "N"
bd$cin[bd$cinema=="Oui"]<- "O"

## Créer/Calculer des variables

In [ ]:
bd$annee <- 2003-bd$age    # année de naissance (enquête date de 2003)

In [ ]:
bd$age.ecart <- bd$age - mean(bd$age, na.rm = TRUE) # écart entre l'âge du répondant et la moyenne

In [ ]:
bd$tv <- round(bd$heures.tv,0) # heures arrondies